/* add css module styles here (optional) */

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&family=Roboto+Condensed:wght@300;400&display=swap');

.container {
  padding: 1em;
  font-size: 2em;
  text-align: center;
}

.input-checkbox-wrapper {
  width: fit-content;
}

.button-icon > svg {
  margin-top: 2.5px;
  font-size: 20px;
  color: rgb(107, 107, 107);
}

.reorder-wrapper {
  padding: 12px 0;
}

.select-dropdown {
  text-align: left;
}

.tabs-wrapper {
  margin-bottom: 12px !important;
}
